.post {
    width: 45vw;
    height: 110vh;
    border: 1px solid black;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
    padding: 20px;
}

.user-info .profilePic {
    width: 30px !important;
    height: 30px !important;
}

.username {
    font-weight: bold;
    width: 90%;
    margin-left: 10px;
}

.post img {
    width: 100%;
    height: 70%;
    border: 1px solid black;
}

.buttons {
    display: flex;
}

.buttons-left {
    width: 25%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.buttons-right {
    position: relative;
    margin-left: 65%;
}