.post {
    width: 40vw;
    height: 110vh;
    border: 1px solid black;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
    padding: 20px;
}

.user-info .profilePic {
    width: 30px !important;
    height: 30px !important;
}

.username {
    font-weight: bold;
    width: 90%;
}

.post img {
    width: 100%;
    height: 90%;
    border: 1px solid black;
}